@use "sass:math";
// 色
$white: #ffffff;
$red: #F93212;
$beige: #F9F2E5;
$beige2: #BCB5A8;
$black: #272625;
$black2: #222222;
$black3: #161616;
$black4: #2C2C2C;
$black5: #000000;
$brown: #332F27;
$gray: #A4A4A0;
$gray2: #99958F;
$gray3: #707070;