@use "sass:math";
// 文字フォントの種類
$base-font: "Noto Serif JP",serif;
$second-font: "Noto Sans JP",sans-serif;
$third-font: "Cormorant",serif;
$fourth-font:"Roboto",sans-serif;



// 文字の太さ
$light: 200;
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;
